.error {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 182px;
  margin-bottom: @egenie-spacing-md;
  padding: @egenie-spacing-xs @egenie-spacing-md;
  background: rgba(251, 7, 31, 0.05);
  border-radius: 2px;

  .errorTitle {
    display: flex;
    align-items: center;
    height: @egenie-line-height-sm;
    color: @egenie-heading-color;
    font-weight: 400;
    font-size: @egenie-font-size-sm;
    line-height: @egenie-line-height-sm;
  }

  .errorIcon {
    margin-right: @egenie-spacing-xss;
    color: #fa6866;
    font-size: 14px;
    transform: rotate(180deg);
  }
}

.modalChildren {
  padding: @egenie-spacing-xss 0 @egenie-spacing-xs 68px;

  :global {
    .ant-steps-item-subtitle {
      display: block !important;
      margin-top: -6px;
      margin-left: unset;
    }
  }
}

.downloadOutlined {
  color: #1978ff;
}

.upload {
  display: flex;
  align-items: center;

  .fileName {
    flex: 2;
    height: @egenie-line-height-sm;
    margin-left: @egenie-spacing-xs;
    overflow: hidden;
    color: #1978ff;
    font-weight: 400;
    font-size: @egenie-font-size-sm;
    line-height: @egenie-line-height-sm;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.renderBeingImported {
  display: flex;
  flex-direction: column;
  padding: 26px 5px 32px;

  .icon {
    margin-right: @egenie-spacing-xss;
    color: #1978ff;
    font-size: 14px;
    transform: rotate(180deg);
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-bottom: @egenie-spacing-md;
    color: #2b2e3e;
    font-weight: 400;
    font-size: @egenie-font-size-sm;
    line-height: @egenie-line-height-sm;
    letter-spacing: 1px;
    background: #eaf3ff;
    border-radius: 2px;
  }

  .button {
    padding-right: 4px;
    padding-left: 4px;
  }
}

.importConditionGroup {
  display: flex;
  flex-direction: column;
}

.importParams {
  display: flex;
  align-items: center;
  margin-bottom: @egenie-spacing-md;

  .importTitle {
    height: 22px;
    margin: 0 @egenie-spacing-md;
    line-height: 22px;
  }

  .explain {
    flex: 2;
    align-items: center;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
  }
}
