.header {
  display: flex;
  align-items: center;
  height: 48px;
  color: @egenie-heading-color;
  font-weight: 500;
  font-size: @egenie-font-size-lg;

  span:first-child {
    color: @egenie-primary-color;
  }

  span:last-child {
    color: @egenie-error-color;
  }
}
