# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.idea
# testing
coverage
.umi
.umi-production
docs-dist
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
packages/zhouhaifei-utils/es
packages/packages/egenie-data-grid/tmp
packages/packages/egenie-data-grid/lib
.history/
