.exportModal {
  .fileNameWrapper {
    margin-bottom: 20px;
    .fileNameInput {
      width: 300px;
    }
  }

  .table {
    .operationBtn {
      margin-left: 0;
      padding-left: 0;
    }
    .templateColumnSelect {
      width: 300px;
    }
  }

  .newBtn {
    width: 100%;
    margin-top: 12px;
  }
}

.exportCenterLink {
  color: #1890ff;
  cursor: pointer;
}

.popover {
  max-width: 600px;
  .popoverTags {
    margin-bottom: 4px;
  }
}

.redTips {
  color: #ff4d4f;
  font-size: 14px;
  margin-left: 70px;
  height: 16px;
}
