@base-height: 34px;

.content {
  width: 100%;

  :global {
    .filterLabel {
      justify-content: flex-end;
      width: 72px;
      max-width: 72px;
      margin-right: 8px;
    }

    .ant-select {
      overflow: hidden;
    }

    .filterInputNumberGroup {
      .ant-select {
        width: 88px;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contentBase {
  :global {
    .filterLabel,
    .filterInput input,
    .filterSelect .ant-select-selector,
    .filterSelect .ant-select,
    .filterInputNumberGroup .ant-select,
    .filterInputNumberGroup .filterInputNumberGroupContent,
    .filterInputNumberGroup .filterInputNumberGroupContent .ant-input-number,
    .filterInputNumberGroup .filterInputNumberGroupContent .ant-input-number input,
    .filterCascader .ant-cascader-picker,
    .filterInputOrSelect,
    .filterInputAndSelect,
    .filterDateSelect > header,
    .filterDateNormal > section {
      height: @base-height !important;
    }

    .filterInputNumberGroup .ant-select {
      border-top: 1px solid @border-color-base;
      border-bottom: 1px solid @border-color-base;
      border-left: 1px solid @border-color-base;
    }

    .filterDateNormal .ant-picker .ant-picker-input input {
      height: @base-height -2px !important;
    }
  }
}
